// app global css in SCSS form
p,
.q-anchor--skip {
  font-size: 12pt;
}

body.body--light {
  input {
    font-size: 14pt;
  }
}

body.body--dark {
  input {
    font-size: 14pt;
    color: $dark; // Колір тексту у темному режимі
  }
  .q-icon {
    color: $dark; // Колір іконок у темному режимі
    vertical-align: baseline;
  }

  .q-drawer {
    background: $dark-page; // Фон висувного меню у темному режимі
  }

  .q-item__label--caption {
    color: grey; // Колір підписів у темному режимі
  }

  .q-item__label--header {
    color: white; // Колір заголовків у темному режимі
  }
}

.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 60px; // Висота полів вводу ущільненого типу
}

.q-field--dense .q-field__label {
  top: 12px; // Позиціонування верхнього маркера полів вводу
  font-size: 14pt; // Розмір шрифту верхнього маркера полів вводу
  height: 35%; // Висота верхнього маркера полів вводу
  color: gray; // Колір верхнього маркера полів вводу
}

.q-field--highlighted .q-field__label {
  color: currentColor; // Колір виділеного верхнього маркера полів вводу
}

.coord-input {
  label {
    margin-bottom: 15px; // Відступ між міткою та полем вводу для координат
  }
}

.row.inline {
  display: flex;
  justify-content: flex-end; // Вирівнювання елементів у рядку по правому краю
  margin-top: 5px; // Відступ зверху між рядками
}
